<div class="centered-xs" id="loginBox">
    <div  style="position:relative">
        <h2> Thank you </h2>

        <p>Request to reset password received , and sent to  <%= @web_user.email %></p>

        <p><%= link_to 'Back', '/', {:class => "buttonRed"} %></p>


        <span style="position: absolute; z-index: 10; width: 312px; right: -175px; height: 268px; top: 0px;" id="tipsy-headset"></span>
    </div>

</div>
