<div class="surface centered-sm"  id="loginBox">
  <div style="position:relative">
    <h2> Thank you for Signing up! </h2>

    You are now ready to see the best deals, share pointers and make the most of your money!


    <p>Please log in to <%= link_to 'continue', "/login"  %></p>


    <span style="position: absolute; z-index: 10; width: 312px; right: -175px; height: 268px; top: 0px;" id="tipsy-headset"></span>
  </div>

</div>


<!-- Google Code for wwhow registration Conversion Page -->
<script language="JavaScript" type="text/javascript">
    <!--
    var google_conversion_id = 1034037096;
    var google_conversion_language = "en_US";
    var google_conversion_format = "3";
    var google_conversion_color = "ffffff";
    var google_conversion_label = "zp9FCMy-jwEQ6M6I7QM";
    if (0.1) {
        var google_conversion_value = 0.1;
    }
    //-->
</script>
<script language="JavaScript" src="http://www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
  <img height="1" width="1" border="0" src="http://www.googleadservices.com/pagead/conversion/1034037096/?value=0.1&amp;label=zp9FCMy-jwEQ6M6I7QM&amp;guid=ON&amp;script=0"/>
</noscript>