<div>
<br/>
<table id="headerTable" cellspacing="0" cellpadding="6" style="border-collapse:collapse">
  
  <tr>
  <td colspan="3">
    <%= render :partial =>  'search' %>  
  </td>
  </tr>
</table>
</div>