<%      mapevents = false %>
<div>
    <script type="text/javascript">
        var scriptTag;
        <%= %Q{scriptTag = '<script type="text/javascript" src="http://maps.google.com/maps?file=api&v=2&key=#{GOOGLEMAPKEY}"><\\/script>';} %>
        document.write(scriptTag);
    </script>

    <script type="text/javascript">
        var mArray = Array();
        var map;
        var centerPoint = new GLatLng(<%= @location %>);

        function loadMap() {
            doLoad();
            addMarkers();
        }

        //-------------------------------------------------------------------- mapstuff
        function doLoad() {
            if (GBrowserIsCompatible()) {
                map = new GMap2(document.getElementById("map"));
                map.setCenter(centerPoint, 7);
                map.addControl(new GScaleControl());
                map.addControl(new GLargeMapControl());
                map.addControl(new GMapTypeControl());
                GEvent.addListener(map, 'click', mapClick);
            }
        }

        function addMarkers() {
        <% @mapmessages.each do |m|
           if m.price
               price = '$'+number_with_precision(m.price, 2)
           else
               price=m.price_text
           end
           mapevents = true
           description = "#{m.what.delete("'")} #{m.where.delete("'").downcase} #{price}"
           detail = "#{number_with_precision(m.distance_to(session[:geo_location]), 1)} miles away"
           search_url = "http://www.google.com/maps?source=uds&daddr=#{m.lat.to_s+','+m.lng.to_s}&saddr=#{@location}"
           detail = detail + '<a href="'+search_url+'"> directions! </a>'
           image_name = "/images/markers/marker" + (@mapmessages.index(m) + 1).to_s + ".png" %>
           <%= %Q{mArray.push('#{m.lat};#{m.lng};#{image_name};#{description};#{detail}');}  %>
         <% end %>
           var bounds = new GLatLngBounds();
                //create home location using centerPoint
                var homeIcon = new GIcon(G_DEFAULT_ICON);
                homeIcon.image = "/images/markers/homeMarker.png";
                var markerOptions = {
                    icon:homeIcon,
                    title:'You are here!'
                };
                var homeMarker = new GMarker(centerPoint, markerOptions);
                bounds.extend(centerPoint);
                map.addOverlay(homeMarker);
            if (mArray.length) {
                mArray.reverse();
                var numberedIcon = new GIcon(G_DEFAULT_ICON);
                var n = 0;
                for (n = 0; n < mArray.length; n++) {
                    var mData = mArray[n].split(';');
                    var point = new GLatLng(mData[0], mData[1]);
                    bounds.extend(point);
                    numberedIcon.image = mData[2]
                    markerOptions = {
                        icon:numberedIcon,
                        title:mData[3],
                        detail:mData[4]
                    }
                    var marker = createMarker(point, markerOptions);
                    map.addOverlay(marker);
                }

                map.setCenter(bounds.getCenter(), map.getBoundsZoomLevel(bounds));
            }
        }

        function createMarker(point, options) {
            var marker = new GMarker(point, options);
            var title = options.title;
            var detail = options.detail;
            GEvent.addListener(marker, "click", function() {
                marker.openInfoWindowHtml('<div style="width:250px;">' + title + '<hr/>' + detail + '</div>');
            });
            return marker;
        }

        function mapClick(marker, point) {
            if (!marker) {
                oLat = document.getElementById("lat");
                oLat.value = point.lat().toFixed(6);
                oLon = document.getElementById("lon");
                oLon.value = point.lng().toFixed(6);
                oDesc = document.getElementById("desc");
                oDesc.value = 'New point';
            }
        }

        function startMap() {
            GUnload();
            mapOn();
            loadMap();
        }

    </script>
    <% if mapevents == true %>
        <div id="map" style="width: 100%; height: 320px;"></div>
        <script type="text/javascript" onunload="GUnload()">
            <% if session[:map] == true then %>
            startMap();
            <% else %>
            $('map').hide();
            <% end %>
        </script>
    <% end %>
</div>    