<div>
    <script type="text/javascript">
        var scriptTag;
        <%= %Q{scriptTag = '<script type="text/javascript" src="http://maps.google.com/maps?file=api&v=2&key=#{GOOGLEMAPKEY}"><\\/script>';} %>
        document.write(scriptTag);
    </script>

    <script type="text/javascript">
        var mArray = Array();
        var map;

        <% location = "37.775196,-122.419204" %>
        <% location = "#{session[:geo_location].lat},#{session[:geo_location].lng}" if session[:geo_location]&&session[:geo_location].lat %>

        var centerPoint = new GLatLng(<%= location %>);

        function loadMap() {
                doLoad();
                addMarkers();
                }

        //-------------------------------------------------------------------- mapstuff
        function doLoad() {
                if (GBrowserIsCompatible()) {
                        map = new GMap2(document.getElementById("map"));
                        map.setCenter(centerPoint, 7);
                        map.addControl(new GScaleControl());
                        map.addControl(new GLargeMapControl());
                        map.addControl(new GMapTypeControl());
                        GEvent.addListener(map, 'click', mapClick);
                        }
                }

        function addMarkers() {
        <% mapevents = 0
           @messages.sort_by_distance_from(session[:geo_location])
           @messages.each{|m| %>
            <% if not m.nil?||m.lat.nil?
                if m.price
                    price = '$'+number_with_precision(m.price, 2)
                else
                    price=m.price_text
                end
                mapevents = 1
            end
            %>
            <%= %Q{
                 mArray.push('#{m.lat};#{m.lng};#{m.what.delete("'")} #{m.where.delete("'").downcase} #{price}; about #{number_with_precision(m.distance_to(session[:geo_location]), 1)} miles away ');} unless m.nil?||m.lat.nil? %>
            <% } %>

        if (mArray.length) {
                var bounds = new GLatLngBounds();
                //create home location using centerPoint
                var homeIcon = new GIcon(G_DEFAULT_ICON);
                homeIcon.image = "/images/markers/homeMarker.png";
                var markerOptions = { icon:homeIcon, title:'You are here!'};
                var homeMarker = new GMarker(centerPoint, markerOptions);
                bounds.extend(centerPoint);
                map.addOverlay(homeMarker);               
                var numberedIcon = new GIcon(G_DEFAULT_ICON);
                var n=0;
                for (n=0 ; n < mArray.length ; n++ ) {
                        var mData = mArray[n].split(';');
                        var point = new GLatLng(mData[0],mData[1]);
                        bounds.extend(point);
                        numberedIcon.image = "/images/markers/marker"+(n+1)+".png";
                        markerOptions = {icon:numberedIcon, title:mData[2], detail:mData[3]}
                        var marker = createMarker(point, markerOptions);
                        map.addOverlay(marker);
                        }

                map.setCenter(bounds.getCenter(), map.getBoundsZoomLevel(bounds));
                }
        }

        function createMarker(point, options) {
                var marker = new GMarker(point,options);
                var title = options.title;
                var detail = options.detail;
                GEvent.addListener(marker, "click", function() {
                        marker.openInfoWindowHtml('<div style="width:250px;">' + title + '<hr/>'+ detail +'</div>');
                        });
                return marker;
                }

        function mapClick(marker, point) {
                if (!marker) {
                        oLat = document.getElementById("lat");
                        oLat.value = point.lat().toFixed(6);
                        oLon = document.getElementById("lon");
                        oLon.value = point.lng().toFixed(6);
                        oDesc = document.getElementById("desc");
                        oDesc.value = 'New point';
                        }
                }

        function startMap(){
                GUnload();
                mapOn();
                loadMap();
                }

    </script>
    <% if mapevents > 0 %>
        <div id="map" style="width: 100%; height: 320px;"></div>
        <script type="text/javascript" onunload="GUnload()">
            <% if session[:map] == true then %>
                startMap();
            <% else %>
                $('map').hide();
            <% end %>
        </script>
    <% end %>
</div>    