<div id="messageList">

    <div id="tableTop">Recent updates : <%= Time.now.strftime("%m/%d/%y at %I:%M%p") %>

        <% if session[:map] == true %>
            <a class="button" id="mapOff" href="#" onclick="mapOff();">Map Off</a>
            <a class="button" id="mapOn" href="#" onclick="mapOn();" style="display:none">Map On</a>
        <% else %>
            <a id="mapOff" href="#" onclick="mapOff();" style="display:none">Map Off</a>
            <a id="mapOn" href="#" onclick="startMap();">Map it!</a>
        <% end %>
    </div>

    <div id="mapframe">
        <%= render_partial('listings/map') %>
    </div>

    <table id="messageListTable" class="sortable">
        <colgroup style="color: navy" align="char" char=".">
            <col width="17%" align="left"/>
            <col width="21%" align="justify"/>
            <col width="14%" align="char" char="."/>
            <col width="16%" align="center" char="."/>
            <col width="12%" align="center" char="."/>
            <col width="20%"/>
        </colgroup>
        <thead>
        <tr id="tr0">
            <th>What</th>
            <th>Where</th>
            <th>How Much</th>
            <th>Who</th>
            <th class="date-us sortfirstdesc">When</th>
            <th>Rating</th>
        </tr>
        </thead>
        <tbody>
        <% for @histmsg in @messages %>
            <%= render_partial('listings/message') %>
        <% end %>
        </tbody>

    </table>

</div>


