<div id="popular_tags">
    <div>
        <h5> Popular Tags </h5>
        <% min_size=50
           max_size = 250
           min_qty = @tag_counts.last.count
           max_qty = @tag_counts.first.count
           spread = max_qty - min_qty
           spread = 1 if spread== 0
           step = (max_size - min_size)/spread
            %>
        <% @tag_counts.each{|t|
           tag_size = min_size + (t.count - min_qty)* step
        %>

        <span style="font-size:<%= tag_size.to_i.to_s<<"%" %>">
          <% cleantag = t.name.downcase.gsub(/['.,:%]/, '') %>
            <%= link_to_function h(t.name.downcase).sub("'", "&rsquo"), "submitByTag('#{cleantag}');" %> </span>
        <% } %>
    </div>

    <br/>
    <br/>
    <div>
        <script type="text/javascript" src="http://w.sharethis.com/button/sharethis.js#tabs=email%2Cweb%2Cpost&amp;charset=utf-8&amp;style=default&amp;publisher=f0d59cbf-e5c4-4d5e-97b3-cb92758ffb49&amp;headerbg=%23fcfcfc&amp;inactivebg=%235f92de&amp;inactivefg=%23736968&amp;linkfg=%23db143c&amp;offsetLeft=1"></script>
    </div>


</div>
