<div id="popular_tags">
    <div>
        <h5> Popular Tags </h5>
        <% unless @tag_counts.empty?
           min_size=75
           max_size = 150
           min_qty = @tag_counts.last.count
           max_qty = @tag_counts.first.count
           spread = max_qty - min_qty
           spread = 1 if spread== 0
           step = (max_size - min_size)/spread.to_f
            %>
        <% @tag_counts.each{|t|
           tag_size = min_size + (t.count - min_qty)* step
        %>

        <span style="font-size:<%= tag_size.to_i.to_s<<"%" %>">
          <% cleantag = t.name.downcase.gsub(/['.,:%]/, '') %>
            <%= link_to_function h(t.name.downcase).sub("'", "&rsquo"), "submitByTag('#{cleantag}');" %> </span>
        <% }
        end %>
    </div>

    <br/>
    <br/>
  
  


</div>
