<div id="popular_tags">
    <div>
        <h5> Popular Tags </h5>
        <% @tag_counts.each{|t| %>
        <span style="font-size:<%= (50*(1+t.count/2)).to_i.to_s<<"%" %>">
          <% cleantag = t.name.downcase.gsub(/['.,:%]/, '') %>
            <%= link_to_function h(t.name.downcase).sub("'", "&rsquo"), "submitByTag('#{cleantag}');" %> </span>
        <% } %>
    </div>


  
</div>
