
form {
    width: 100%;
    margin-top: 0px;
}

tr.hide * {
    display: none
}

#frame, #container {
   height: 100%;   
}

#footer {
    width: 1200px;
    line-height:1em;
    font-size:100%;
    position:absolute;
    bottom:0px;
    left: 0px;
  }

span.left{
    width:49%;
}

span.right{
     width:49%;
}

#sliderTable { table-layout:fixed;}

