/*
table, tr, th, td {border:dashed 1px red;}
body div { border:dotted .1px orange;
padding: .2em; }
ul , li {   border:dotted 1px green;
padding: 1em; }
span { border:dotted .1px red ;
padding: .2em; }
*/


body {
/*font-family:Comic Sans, Comic Sans MS, cursive;*/
/*font-family:'Century Gothic',Futura,'URW Gothic L',sans-serif;*/
/*font-family:'Lucida Sans Unicode','Lucida Grande','Lucida Sans','DejaVu Sans Condensed',sans-serif; */
    font-family: Verdana, Geneva, 'Bitstream Vera Sans', 'DejaVu Sans', sans-serif;
    font-size: 90%;
    background-color: transparent;
}



body div {
    padding: .01em;
}

.centered {
    width: 1200px;
    margin: 0 auto;
}

.centered-sm {
    width: 780px;
    margin: 0 auto;
}

.centered-xs {
    width: 580px;
    margin: 0 auto;
    background: url(/images/centerbgdark.jpg) transparent repeat-x;
}

.centered-xxs {
    width: 530px;
    margin: 0 auto;
}

#frame {
    width: 1200px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

#homeLink {
    height: 6.5em;
    width: 188px;
}

#homeLink a {
    text-decoration: none;
    font-size: 5.5em;
}

#homeLink a em {
    visibility: hidden;
}

#rightbar div, #leftbar div {
    border: none;
    padding: .2em;
}

#container, #container-loggedin {
    width: 1200px;
    padding-bottom: 20px;
    min-height: 800px;
}

#container {
    background: url('/images/centerbgdark.jpg') transparent repeat-x;
}

#container-loggedin {
    background: url('/images/centerbgdark.jpg') transparent repeat-x;
}

#banner, #bannerLoggedIn {
    z-index: 0;
    display: block;
}

#banner {
    background: transparent url(/images/top-tipsy.jpg) no-repeat center center;
    height: 383px;
}

#bannerCommon, #bannerLoggedIn {
    background: transparent url(/images/banner-common.jpg) no-repeat center center;
    height: 117px;
    overflow-y: visible;
}

#welcome {
    background: transparent url(/images/info-tipsy.png) no-repeat top center;
    height: 291px;
    cursor: pointer;
    z-index: -1;

}

#welcome p {
    position: absolute;
    top: 90px;
    left: 40px;
    width: 70%;
}

#menu {
    background: url(/images/toolButton.png) repeat-x left top;
    line-height: 1.7em;
    position: absolute;
    top: 0px;
    left: auto;
    right: 2em;
}

#menuL {
    background: transparent url(/images/menu-left.png) repeat-x scroll left top;
    height: 32px;
    left: -18px;
    position: absolute;
    width: 14px;
    top: 0px;
}

#menu Table {
    font-size: .75em;
    font-weight: bold;
    text-align: right;
    display: inline-block;

    white-space: nowrap;
    z-index: 5;

}

#menu .button {
    border: none;
    line-height: 1.6em;
}

#menu span {
    padding: .2em;
}

#menu #web_user-bar-greeting a {
    text-decoration: none;
    color: #d50f10;
}

#searchrow {
    width: 880px;
    position: absolute;
    left: 214px;
    top: 78px;
    font-size: .8em;
}

#rightbar {
    position: absolute;
    top: 385px;
    right: 0px;
    background-color: transparent;
    width: 183px;
}

#leftbar {
    position: absolute;
    width: 176px;
    left: 24px;
    background-color: transparent;
}

#popular_tags {
    text-align: left;
    display: block;
}

#active_members a {
    font-size: 1em;
}

#leftbar h5, #rightbar h5 {
    background: #ffde00;
    font-weight: bold;
    text-align: center;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'DejaVu Sans Condensed', sans-serif;
    border-top: solid 1px #0045cf;
    border-bottom: solid 1px #0045cf;

}

#wwhowsays {
    border: 0;
    font-weight: bold;
    text-align: center;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'DejaVu Sans Condensed', sans-serif;
}

#notice, #errors {
    background-color: #0045cf;
    font-weight: 600;
}

.error {
    color: #fff;
    text-align: center;
    padding: 1em;
    line-height: 1em;
}

h2.error {
    font-size: 1.1em;
}

#notice {
    color: #fff;
}

#errors {
     color: #fff;
}

#statusBox .label {
    font-size: 1.2em;
}

#messageList {
    min-height: 500px;

}

#tableTop {
    line-height: 2em;
    background-color: #0045cf;
    color: white;
    padding: 0 1em;
}

#headerTable {
    width: 780px;
}

#headerTable th {
    font-size: 1.8em;
    text-align: center;
    color: #E6F4FF;
}

#headerTable td {
    vertical-align: top;
}

#messageListTable {
    border-top: solid 1px #444;
    border-right: solid 0;
    border-left: solid 1px #444;
    border-bottom: solid 1px #444;
    width: 100%;
    z-index: 2;
    table-layout: fixed;
}

#messageListTable td {
    border-right: solid 1px #444;

}


#messageListTable th {
    text-align: center;
    font-size: .8em;
    background-color: #ffde00;
}

td.comment {
    font-size: .8em;
}

#messageListTable td {
    text-align: left;
    font-size: .8em;
    overflow:hidden;
}

#messageListTable span.price, span.discount {
    font-size: small;
}


#messageListTable td.editing {
    border:none;
    font-size:1.2em;
}



#messageListTable tr {
    background-color: transparent;
}

#input_header, #messageList {
    display: block;
}

ul {
    background-color: transparent;
}

li {
    list-style: none;
}

.buttonstrip {
    display: inline;
}

table tr td {
    vertical-align: top;
}

td table {
    width: 100%;
}

#footer {
    clear: both;
    width: 100%;
    text-align: center;
    font-size: .75em;
    color: #d50f10;
    background-color: #ffde00;

}

#footer a {
    color: #d50f10;
    text-decoration: none;
}

span.help {
    font-weight: bold;
    display: run-in;
    font-size: .7em;
}

span.right {
    text-align: left;
    float: right;
    width: 40%;
}

span.left {
    text-align: right;
    float: left;
    width: 42%;
}

#searchTable {

}

#searchTable td {
    line-height: 1.7em;
    background-color: transparent;
    margin: .2em .2em .2em .2em;
    vertical-align: middle;
    height: 2.6em;
    padding-left: 1em;
}

#searchTable td input {
    line-height: 1.3em;
    font-size: 1.1em;
    color: #666;
    width: 18em;
}

#searchTable th {
    font-size: 1em;
}

#inputBox {
    border: solid 1px blue;
}

#inputBox td {    
    background-color: #d2e1f4;
    margin: .2em .2em .2em .2em;
    vertical-align: top;
    height: 2.6em;
    padding-left: 1em;
}

#widgetLinks {
    float: right;
}

#widgetLinks a, #tableTop a {
    color: #d50f10;
    font-size: 1em;
    text-decoration: none;
    font-style: oblique;
    background-color: #ffde00;
    padding: .2em .4em .2em 2em;
}

#mapOn, #mapOff {
    background: transparent url(/images/mappedPost.png) no-repeat center left;
}

#slidersTable {
    background-color: #ffde00;
    border: solid 0 2px 0 2px #0045cf;
    width: 780px;
    height: 5em;
}

#sliderstable span {
    opacity: 1;
}

#slider.hide {
    display: none;
}

#popular_tags a, #messageListTable tags a,
    #user-control-panel a, #login a, #active_members a {
    text-decoration: none;
    color: #d50f10;
}

table tr.show {
    display: table-row;
}

table tr.hide {
    display: none !important;
}

a img {
    border: 0;
}

table.sortable th a {
    text-decoration: none;
    color: black;
    font-size: 1em;
}

table.sortable {
    border-spacing: 0px;
}

table.sortable th, table.sortable td {
    text-align: left;
    padding: 2px 4px 2px 4px;
    border-color: #444;
}

table.sortable th {
    border-width: 0px 1px 1px 1px;
    background-color: transparent;;
}

table.sortable td {
}

table.sortable tr.odd td {
    background-color: #fff;
}

table.sortable tr.even td {
    background-color: #edf5fe;
}

table.sortable tr.sortbottom td {
    font-weight: bold;
}

table.sortable .sortcol {
    background-position: right center;
    background-repeat: no-repeat;
    cursor: pointer;
    padding-right: 20px;
}

table.sortable .sortasc {
    background-image: url(/images/arrow-up.gif);
}

table.sortable .sortdesc {
    background-image: url(/images/arrow-down.gif);
}

table.sortable .nosort {
    cursor: default;
    background-image: url(/images/arrow-none.gif);
}

.button, .buttonRed {
    cursor: pointer;
    border: outset 1px #ccc;
    background: #999;
    color: #d50f10;
    font-weight: bold;
    padding: .2em .4em;
    background: url(/images/toolButton.png) repeat-x left top;
    line-height: 1.3em;
}

.buttonRed {
    background-color: #d50f10;
    color: #fff;
    background: url(/images/toolButtonRed.png) repeat-x left top;
}

#messageListTable td .button {
    padding: 0 .2em 0 .2em;
    background: url(/images/toolButtonRed.png) repeat-x left top;
    line-height: .5em;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'DejaVu Sans Condensed', sans-serif;
    color: white;
    font-size: 0.8em;

}

#messageLisTable tr .hide {
    display: none;
}

.hide {
    display: none;
}

#messageListTable tr .show {
    display: table-row;
}

a.buttonRed, a.button {
    text-decoration: none;
}

div.slider {
    margin: 10px 0;
    background-color: transparent;
    width: 228px;
    height: 29px;
    position: relative;
    background-image: url(/images/bg-fader.gif);
    z-index: 4;
}

div.slider div.handle {
    width: 18px;
    height: 20px;
    background-color: transparent;
    cursor: move;
    position: absolute;
    background-image: url(/images/thumb-u.gif);
    z-index: 5;
}

#loginBox label, #signupBox label, #user-profile label, #forgotBox label, #usersBox label {
    width: 30%;
    float: left;
    text-align: right;
    padding-right: 1em;
    font-weight: bold;
}

#user-profile ul li {
    line-height: 2.3em;
}

#user-control-panel label {
    width: 88%;
    float: left;
    font-size: .85em;
    font-weight: bold;
}

#user-control-panel strong {
    font-size: .85em;
}

/* General */
div.info {
    background-color: #d2e1f4;
    padding: 20px 20px 20px 20px;
    line-height: 1.3em;
}

td.editing {
    vertical-align: top;
}

td.editing label {
    width: 25%;
    float: left;
    font-weight: bolder;
    text-align: right;
}

.small {
    font-size: smaller;
}

#tooltip {

}

#mapframe {
    display: block;
}

#loginBox, #signupBox, #forgotBox, #usersBox {
    background-color: #d2e1f4;
    padding: 20px 20px 20px 20px;
    line-height: 1.3em;
    border: solid 1px blue;
}

#signupBox span.help {
    font-size: .75em;
    font-style: oblique;
    font-weight: 100;
    float: none;
    text-align: center;
}

/*buttons*/
span.hasMap, a.buttonAddFave, a.buttonOffFaves, a.buttonEdit {
    display: block;
    float: right;
    height: 28px;
    width: 28px;
    text-decoration: none;
}

span.hasMap em, a.buttonAddFave em, a.buttonOffFaves em, a.buttonEdit em {
    visibility: hidden;
    font-size: 1.1em;
}

span.hasMap {
    background: transparent url(/images/mappedPost.png) no-repeat center right;
    padding-right: 16px;
}

li span.hasMap {
    text-indent: 3.2em;
    display: inline-block;
    float: none;
}

a.buttonAddFave {
    background: transparent url(/images/makeFavorite.png) no-repeat center left;

}

a.buttonOffFaves {
    background: transparent url(/images/unFavorite.png) no-repeat center left;

}

a.buttonEdit {
    background: transparent url(/images/editPost.png) no-repeat center left;
}

/* tipsys */

#tipsy {
    background: url(/images/tipsy-pen.png) no-repeat top left;
    width: 210px;
    height: 315px;
    position: absolute;
    top: 80px;
    right: 0px;
    z-index: 2;
}

#tipsy-pen {
    background: url(/images/tipsy-pen.png) no-repeat top center;
}

#tipsy-presents {
    background: url(/images/tipsy-presents.png) no-repeat top center;
}

#tipsy-ashamed {
    background: url(/images/tipsy-ashamed.png) no-repeat top center;
}

#tipsy-headset {
    background: url(/images/tipsy-headset.png) no-repeat top center;
}

a {
    color: #d50f10;
    text-decoration: none;
}

span.what {
    font-weight: bold;
}