<ul id = "mainList"> 
<% @subscriptions= @user.subscriptions%>
<% if @subscriptions %>
  <% for sub in @subscriptions %>
     <% friend = User.find_by_id(sub.friend_id) %>
     <li class="messageLine">
        <span class="friendName"><strong><%= friend.name %></strong></span>
        <span class="separator"></span>          
      <ul> 
    <% messages = BlogEntry.find_all_by_user_id(friend.id, :order=>'created_at desc')%>
    <% for msg in messages %>    
        <li>
        <span class="msgDate"> <%= msg.created_at %></span> 
        <span class="text"> <%= msg.text %></span> 
        </li>
    <% end %>
      </ul>
     </li>
 <% end %>
 <% else %>
   <li> no subscriptions yet! </li> 
 <%end %>
</ul>
