        <div id="wwhowsays" class="centered-xxs <%= 'hide' if (flash[:notice].blank? && flash[:error].blank?)  %>" >
            <div id="notice" style="text-align:center">
                <%= flash[:notice] %>
                <% flash[:notice] = "" %>
            </div>

            <div id="errors" style="text-align:center">
                <%= flash[:error] %>
                <%  flash[:error] = "" %>
            </div>
        </div>