<h2> Forgto your Password?</h2>

 Request to reset password received for <%= @web_user.login %>
 Visit this url to choose a new password:

   <%= @url %>

 (Your password will remain the same if no action is taken)

