<div id="content" class="centered-sm">
    <div id="header">
        <h1>About WWHOW!</h1>
    </div>

    <div id="about" style="position:relative">


        <div class="info"> (Pronounced Wow! ... as in Wow! Check out the price of these shoes… I should
            buy 2 pairs!)
            <p>Remember the last time you saw a great deal in a store or a garage sale? Something you wanted to tell
                your friends about:</p>
           <em>
              –."Hey Jenna, I know you use Pampers… great sale at Target this week." <br/>
              –."David, Banana Republic finally started their 40% more-off sale. Go to the store on Stockton, they have the most stuff!"
           </em>

            <p> Or maybe you stumbled into a fantastic garage sale and ended up telling your friends about it. You
                probably called or emailed them, or just wandered through the office and let people know.</p>

            <p>
                <strong>WWHOW! </strong> provides the simple online way for you to share your info with everyone at the
                same time...;
                and you can benefit from savings found by others. Just browse or search the WWHOW List or Log In and
                post some savings.
                Do it from your cell phone – just "tweet" a deal to @wwhow.
            </p>

            <p style="text-align:center; font-weight:bold;">
                Share some savings, exercise some bragging rights, save money.
            </p>

            <p style="text-align:center; font-weight:bold;">
                Just the facts&hellip;
                WWHOW! What, Where, How Much
            </p>


            <h2> The Brain Trust </h2>

            <p class="hide">Nick Krym, Alfonso Adriasola, Leslie Yuan</p>
            <%= image_tag 'yefounders.png' %>

            <p> We're currently working in the San Francsico Bay Area</p>

            <p> Send comments to us at <a href="mailto:feedback@wwhow.com">feedback@wwhow.com</a></p>

            <%= link_to 'Back', :back, {:class=>"buttonRed"} %>

            <span style="position: absolute; z-index: 10; width: 248px; right: -190px; height: 268px; top: 0px;" id="tipsy-presents"> </span>
        </div>


    </div>
</div> 