<div id="content" class="centered-sm">

    <div id="header">
        <h1>Help with WWHOW!</h1>
    </div>

    <div id="getting-started" style="position:relative">
        <p>
            Not much help is really needed to use WWHOW! As the name suggests, you only need to post
            <strong>What,Where, How much</strong>,in order to share your savings with everyone.
        </p>

        <h3>First, Sign Up and Log In.</h3>

        <p> You can figure this out on your own.</p>

        <h3>Next, Post some savings!</h3>
        <ul>
            <li>What did you get? Just type it in.</li>
            <li>Where you bought it (if you put @ between the store name and the address, WWHOW will map the location)
            </li>
            <li>How much was it?</li>
        </ul>
        <ul> An Example:
            <li><strong> What:</strong> all xmas stuff</li>
            <li><strong> Where: </strong> walgreens @ mission at third street, san francisco</li>
            <li><strong> How Much:</strong> 25 cents</li>
        </ul>


        <h3>Tips on Using Twitter</h3>

        <p>
            If you’re already using Twitter, follow <strong>wwhow</strong> and send your tweets (@replies) to @wwhow.
            <br/>
            Your tweet should look like this:
            <em>@wwhow all xmas stuff # walgreens @ mission at third st, san francisco# 25 cents</em>
        </p>

        <h3>What if you want to shop?</h3>
        Search the WWHOW postings. Your location is defaulted to what you entered during Sign Up. <br/>
        Use extra Filters and Search, if you want to get fancy.

        <ul>
            <li>Price</li>
            <li>Rating</li>
            <li>Distance from you</li>
            <li>Only your favorite posters</li>
        </ul>
        Use the Tag Clouds for quick filtering; they do work together with the other filters. <br/>

        <h3>Rating </h3> Log in to rate a post. Click over the number of stars you think it deserves. You can only rate
        a post once.

        <h3> Mapping </h3>Based on your default location, we can help you locate any particular post (or all of them!)
        in your general area. Posts shown with the little blue map marker can be mapped.

        <h3>Favorites</h3>
        Mark others as your Favorites by clicking on the little heart next to a name in the list. You can then easily
        filter the list of posts to show only your Favorites using the checkbox "Favorites only" and hitting Search.

        <h3>Changing/ Setting Preferences </h3> this covers stuff like your default location. You can access your own
        preferences by logging in and going to Your Account.

        <h3>Mojo</h3> So how good are you really at spotting deals? Based on how often you post, how people rate your
        posts, how many posts you rate, and several other complicated rules, your mojo goes up or down.

        <br/>
        <br/>

        <%= link_to 'Back', :back, {:class=>"buttonRed"} %>

        <em style="position: absolute; z-index: 10; width: 225px; right: -175px; height: 268px; top: 0px;" id="tipsy-headset"></em>
    </div>


</div>
