<div id="content" class="centered-sm">

    <div id="header">
        <h1>Help with WWHOW!</h1>
    </div>

    <div id="getting-started" style="position:relative">
        Not much help is really needed to use WWHOW! As the name suggests, you only need to put up What, Where,How much,
        in order to exercise your bragging rights.Bragging (or Sharing) will require you to log in, but signing up is a
        cinch and will take you 30 seconds, if that.
        Searching is easy – just go to any page and type in what you are looking for. The site will default the Where
        field to your default location, but you can easily change this if you’re someplace else. There are a lot of
        other features described below such as rating, mapping, filtering, setting preferences, but in the end, the
        basics are Bragging (or Sharing) and Searching. Pretty soon, you’ll be able to brag (or share) on WWHOW! using
        Twitter. Stay tuned for this little upgrade.
        It’ll just make things that much easier when you’re in a store and find some huge deal.

        <h2>The Extras:</h2>

        <h3>Rating </h3> you have to be logged in to rate a post (aka an amazing shopping achievement), but once you are
        logged in, it’s a snap. Just find the stars next to any listing, and click over the number of stars
        you think it deserves. You can only rate a post once.

        <h3> Mapping </h3> based on your default location, we can help you locate any particular listing (or
        all of them!) in your general vicinity. We figure you know your area and won’t necessarily need to map the
        location of Costco, however, do you know exactly where that garage sale is at 2593 Anza Street?

        <h3>Filtering </h3> Want to get fancy with searches? Expand the search options by clicking the Advanced Search /
        Filters link and you’ll be presented with several options to hone down your bargain hunting.

        <h3>Setting Preferences </h3> this covers stuff like your default location. You can access your own preferences
        by logging in and going to Your Account.

        <h3>Status </h3> So how good are you really at spotting deals? Based on how people rate your finds you'll get
        status at this site. Of course to keep things fair, you need to rate other folks' finds as well, this will help
        you achieve a higher status. And well, a good deal finder is actively looking, so post often. Soon the world
        will know you as the Master of the Deal!

     <%= link_to 'Back', :back ,{:class=>"buttonRed"}%>
        
        <em style="position: absolute; z-index: 10; width: 225px; right: -175px; height: 268px; top: 0px;" id="tipsy-headset"></em>
    </div>


</div>
