<div class="centered-sm surface"><h1> We can help you find deals on all these locations </h1>

  <ul>

    <% Subscription.browse_locations.each{|place| %>

        <li>  <%= link_to "Find great bargains near #{place.titleize}", "/where/#{place}" %> </li>

    <% } %>

  </ul>
</div>