<div id="content" class="centered-sm" style="position:relative">


<STYLE TYPE="text/css">
    <!--
            @page { margin: 0.79in }
                    P { margin-bottom: 0.08in; direction: ltr; color: #000000; widows: 2; orphans: 2 }
                    P.western { font-family: "Times New Roman", serif; font-size: 12pt; so-language: en-US }
                    P.cjk { font-family: "Times New Roman", serif; font-size: 12pt }
                    P.ctl { font-family: "Cambria", serif; font-size: 12pt; so-language: ar-SA }
                    A:link { so-language: zxx }
            -->
</STYLE>

<P STYLE="margin-bottom: 0.19in">
    <FONT COLOR="#000000"><FONT FACE="Verdana, sans-serif"><FONT SIZE=4 STYLE="font-size: 16pt"><B>WWHOW
        Privacy Policy</B></FONT></FONT></FONT></P>

<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in">
    <FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">February
        2009 </FONT></FONT>
</P>

<P LANG="en-GB" CLASS="western" STYLE="margin-bottom: 0in">
    <FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt"><B>PRIVACY
        POLICY</B></FONT></FONT></P>

<P LANG="en-GB" CLASS="western" STYLE="margin-bottom: 0in"><BR>
</P>

<P CLASS="western" STYLE="margin-bottom: 0in; widows: 0; orphans: 0">
    <FONT COLOR="#000000"><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">We
        take the privacy of our visitors very seriously. When you use this
        website, you agree to the Privacy Policy that follows. If you do not
        agree with this Privacy Policy or/and WWHOW Terms of Use you should
        immediately stop using this website. </FONT></FONT></FONT>
</P>

<P STYLE="margin-top: 0.19in; margin-bottom: 0in">
    <STRONG><FONT COLOR="#000000"><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">Information
        We </FONT></FONT></FONT></STRONG><STRONG><FONT COLOR="#000000"><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">Collect</FONT></FONT></FONT></STRONG>
</P>

<P STYLE="margin-top: 0.19in; margin-bottom: 0in">
    <FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">We</FONT></FONT><FONT COLOR="#000000"><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">
</FONT></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">are
    committed to protecting the privacy of visitors to this site.
    Accordingly, at this site, we do not collect personally-identifying
    information from users unless they provide it to us voluntarily and
    knowingly. </FONT></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">We
    do not share any information with anyone outside our company. </FONT></FONT>
</P>

<P STYLE="margin-top: 0.19in; margin-bottom: 0in"><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">When
    you visit our site, your browser automatically sends us an IP
    (Internet Protocol) address and certain other information (including
    the type of browser you use). We may use this IP address and other
    information to give you access to the site and otherwise administer
    the site. In certain parts of the site, we may ask you to provide us
    with your name or other information so that we can provide you with
    information you request, consider your application for registering
    with us, or take other action indicated in the part of the site where
    the information is requested. You are under no obligation to provide
    us with this information, but without it, we may not be able to take
    the action requested. The site also includes features that allow you
    and us to communicate by electronic mail or otherwise. </FONT></FONT>
</P>

<P STYLE="margin-top: 0.19in; margin-bottom: 0in">
    <FONT COLOR="#000000"><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">If
        you choose to use these features, you will be required to provide us
        your e-mail address and other personally-identifying information
        (such as your name or address) we may deem necessary in order to
        communicate with you electronically or otherwise, or review your
        request for membership, if applicable. When you provide any
        personally identifying information to us, you acknowledge that you
        are knowingly and voluntarily providing us the information. We will
        not use such information for marketing purposes, but we may respond
        to the electronic mail messages you send us, take other action
        indicated in the part of the site where the information is requested,
        and use such information for any other business purpose, including
        sending you subsequent communications concerning this site, or our
        company&rsquo;s products and services. </FONT></FONT></FONT>
</P>

<P STYLE="margin-top: 0.19in; margin-bottom: 0in">
    <FONT COLOR="#000000"><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">You
        also should be aware that we collect certain usage information about
        our site, such as the number and frequency of visitors to certain
        parts of the site. This data is used only in the aggregate and does
        not include any personally identifying
        information. </FONT></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">We
    also use information in a number of anonymous or aggregated forms
    which do not identify individuals for the general management,
    marketing and improvement of our business.</FONT></FONT></P>

<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in">
    <FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">The
        information collected is never revealed, sold, or made public for any
        reason. Personally identifiable information provided by subscribers
        (name, email or address, etc.) is never disclosed to any individual
        or business </FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">unless
    you have authorized us to do so
    or</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">
    unless we/they are required by law or we have a good faith basis for
    believing that you are in violation of this Privacy Policy, our Terms
    and Conditions, or applicable laws. </FONT></FONT>
</P>

<P STYLE="margin-top: 0.19in; margin-bottom: 0in">
    <FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt"><B>How
        we use information</B></FONT></FONT></P>

<P STYLE="margin-top: 0.19in; margin-bottom: 0in"><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">We
    use personally identifiable information to undertake such activities
    as:</FONT></FONT></P>
<UL>
    <LI><P STYLE="margin-top: 0.19in; margin-bottom: 0in">
        <FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">Communicate
            with you according to the preferences you have told us.</FONT></FONT></P>
    <LI><P STYLE="margin-bottom: 0in"><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">Monitor
        and improve our business and use of the website.</FONT></FONT></P>
    <LI><P STYLE="margin-bottom: 0in"><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">Endeavor
        to prevent and address any possible fraud or misuse of our services.</FONT></FONT></P>
    <LI><P STYLE="margin-bottom: 0.19in; widows: 0; orphans: 0">
        <FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">Insure
            compliance with any relevant legislation and rules of this Website .</FONT></FONT></P>
</UL>
<P CLASS="western" STYLE="margin-bottom: 0in; widows: 0; orphans: 0">
    <FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt"><B>Cookies
        and Web Beacons</B></FONT></FONT></P>

<P STYLE="margin-top: 0.19in; margin-bottom: 0in">
    <FONT COLOR="#000000"><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">Like
        many companies, we use &quot;cookie&quot; and/or &ldquo;web beacon&rdquo;
        technology on our website. Cookies may tell us whether you have
        visited our site before or are a new visitor and what material on our
        site you have viewed. Web
        Beacons</FONT></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">
    are tags that can monitor the behavior of a user visiting the Website
    or sending the e-mail.</FONT></FONT></P>

<P CLASS="western" STYLE="margin-bottom: 0in; widows: 0; orphans: 0">
    <FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">Each
        time a subscriber logs into this site, we store a temporary 'cookie'
        in the browser files of that subscriber's computer. This cookie is
        used during your online session to allow you free access to the
        Subscribers Area,</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">
    and to store basket contents,</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">
    without repeatedly requiring you to re-enter your user name and
    password. When you log off or leave the site, the cookies file is
    automatically removed.</FONT></FONT></P>

<P STYLE="margin-bottom: 0in"><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">The
    cookies we use do not collect any personally identifying information
    about you or provide us with any way to contact you, and the cookies
    do not extract any information from your computer. You may be able
    to configure your browser to accept or reject all or some cookies, or
    notify you when a cookie is set -- each browser is different, so
    check the &quot;Help&quot; menu of your browser to learn how to
    change your cookie preferences -- however, you must enable cookies
    from this website in order to use most functions on the site.</FONT></FONT></P>

<P STYLE="margin-bottom: 0in"><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">Information
    recorded through web beacons is used to report anonymous individual
    and/or aggregate information about our users. Aggregate information
    may include demographic and usage information. No personally
    identifiable information about you is shared with partners or third
    parties from this research. You may choose to opt-out of our using
    this information for this research. </FONT></FONT>
</P>

<P CLASS="western" STYLE="margin-bottom: 0in; widows: 0; orphans: 0">
    <FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt"><B>Security</B></FONT></FONT></P>

<P STYLE="margin-top: 0.19in; margin-bottom: 0in"><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">We
    use a variety of security measures including encryption and
    authentication to protect the loss, misuse and alteration of your
    personal information under our
    control.</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">
    Registered accounts are secured by your created passwords and we
    take precautions to insure that member account information is kept
    private. We use reasonable measures to protect member information
    that is stored within our database, and we restrict access to member
    information to those employees who need access to perform their job
    functions, such as our customer service personnel and technical
    staff. Please note that we cannot guarantee the security of member
    account information, no system is 100% secure, especially, any which
    includes transmission of data over the Internet, and unauthorized
    entry or use, hardware or software failure, and other factors may
    compromise the security of member information at any time. </FONT></FONT>
</P>

<P CLASS="western" STYLE="margin-bottom: 0in"><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">We
    instruct our employees with access to your information that it is to
    be used only in adherence with the principles set forth in this
    Privacy Policy and the laws applicable to the business. Employees
    who misuse customer information are subject to disciplinary action. </FONT></FONT>
</P>

<P CLASS="western" STYLE="margin-bottom: 0in"><BR>
</P>

<P CLASS="western" STYLE="margin-bottom: 0in; widows: 0; orphans: 0">
    <FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt"><B>Choice/Opt-In</B></FONT></FONT></P>

<P CLASS="western" STYLE="margin-bottom: 0in; widows: 0; orphans: 0"><BR>
</P>

<P CLASS="western" STYLE="margin-bottom: 0in; widows: 0; orphans: 0">
    <FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">Our
        site may give users the opportunity to opt-in to receive
        communications from us. You can be assured that we never reveal,
        sell, or make available your email address to anyone for any purpose.
        This site also will give users options for removing their
        information from our database in order to stop receiving our
        communications. </FONT></FONT><FONT COLOR="#000000"><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">You
    may continue to receive such communications until our system
    completes the processing of your request.</FONT></FONT></FONT></P>

<P STYLE="margin-top: 0.19in; margin-bottom: 0in">
    <FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt"><B>Links</B></FONT></FONT></P>

<P CLASS="western" STYLE="margin-bottom: 0.18in; widows: 0; orphans: 0">
    <FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">Our
        website may contain links to other sites and banner ads that take a
        visitor to another website. In no case is subscriber information or
        'cookie' information provided to the third party sites. However,
        please be aware that we are not responsible for the content or
        privacy practices of such other sites. We encourage our users to be
        aware when they leave our site and to read the privacy statements of
        any other site that collects personally identifiable information. On
        the Internet, many sites do attempt to capture visitor information
        when you browse those sites.</FONT></FONT></P>

<P STYLE="margin-top: 0.19in; margin-bottom: 0in">
    <STRONG><FONT COLOR="#000000"><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">Changes
        To Privacy Policy</FONT></FONT></FONT></STRONG></P>

<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in">
    <FONT COLOR="#000000"><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">We
        reserve the right, at our complete discretion, to change this Privacy
        Policy at any time by posting revised terms on the site. It is your
        responsibility to check periodically for any changes we may make to
        this Privacy Policy. Your continued use of this site following the
        posting of changes to these terms or other policies indicates your
        acceptance of the changes. </FONT></FONT></FONT>
</P>

<P STYLE="margin-top: 0.19in; margin-bottom: 0in"><BR>
</P>

<P STYLE="margin-top: 0.19in; margin-bottom: 0in">
    <STRONG><FONT COLOR="#000000"><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">How
        to Contact Us</FONT></FONT></FONT></STRONG></P>

<P STYLE="margin-top: 0.19in; margin-bottom: 0in">
    <FONT COLOR="#000000"><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">If
        you have any questions about this Privacy Policy, please contact us
        by visiting the relevant section of our website. </FONT></FONT></FONT>
</P>

<P STYLE="margin-top: 0.19in; margin-bottom: 0in">
    <STRONG><FONT COLOR="#000000"><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">Miscellaneous</FONT></FONT></FONT></STRONG><FONT COLOR="#000000"><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt"><BR><BR></FONT></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">This
    Privacy Policy as stated herein constitutes the entire agreement
    between you and the Company with respect to Company&rsquo;s Privacy
    Policy. No changes to the Privacy Policy shall be made except by a
    revised posting on this page, and you are responsible to be aware of
    all such changes.</FONT></FONT></FONT></P>

<P CLASS="western" STYLE="margin-bottom: 0in">
    <FONT COLOR="#000000"><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">This
        Privacy Policy shall be governed by and construed in accordance with
        the laws of the State of
        California</FONT></FONT></FONT><FONT COLOR="#333333"><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">
</FONT></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">applicable
    therein, without regard to conflict of
    laws. </FONT></FONT></FONT><FONT COLOR="#333333"><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">You
    irrevocably consent to the exclusive jurisdiction of the courts
    located
    in </FONT></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">the
    State of
    California </FONT></FONT></FONT><FONT COLOR="#333333"><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">in
    connection with any action arising out of or related to these terms
    of use or their subject matter. You waive any objection based on lack
    of personal jurisdiction, place of residence, improper venue or forum
    non-convenience in any such action.</FONT></FONT></FONT></P>

<P CLASS="western" STYLE="margin-top: 0.19in; margin-bottom: 0.19in">
    <FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">The
        Site is not directed to persons under 13. If we become aware that a
        child under 13 has provided us with personal identifiable
        Information, we will delete such information from our files. If a
        parent or guardian becomes aware that his or her child has provided
        us with personally identifiable information without their consent, he
        or she should contact us
        at </FONT></FONT><A HREF="mailto:privacy@wwhow.com"><FONT COLOR="#0000ff"><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt"><U>privacy@WWHOW.com</U></FONT></FONT></FONT></A><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">.
    We do not knowingly collect personally identifiable information from
    children under 13. </FONT></FONT>
</P>

<P CLASS="western" STYLE="margin-bottom: 0in"><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">If
    any court having competent jurisdiction holds any provision of this
    Privacy Statement invalid or unenforceable in any respect, such
    provision shall be enforced to the maximum extent permitted by law,
    and the remaining provisions of this Privacy Statement shall continue
    in full force and effect. No waiver of any provision of this Privacy
    Policy shall be deemed a further or continuing waiver of such
    provision or any other provision of this Privacy Policy.</FONT></FONT></P>

<em style="position: absolute; z-index: 10; width: 225px; right: -175px; height: 268px; top: 0px;" id="tipsy-headset"></em>
</div>


