<div id="content" class="centered-sm" style="position:relative">

<STYLE TYPE="text/css">
    <!--
            @page { margin-right: 1.25in; margin-top: 1in; margin-bottom: 0.5in }
                    @page:first { margin-top: 1in; margin-bottom: 1in }
                    P { margin-top: 0.19in; margin-bottom: 0.19in; direction: ltr; color: #000000; widows: 2; orphans: 2 }
                    P.western { font-family: "Times New Roman", serif; font-size: 12pt; so-language: en-US }
                    P.cjk { font-family: "Times New Roman", serif; font-size: 12pt }
                    P.ctl { font-family: "Times New Roman", serif; font-size: 12pt; so-language: ar-SA }
                    H3 { margin-top: 0.19in; margin-bottom: 0.19in; direction: ltr; color: #000000; widows: 2; orphans: 2; page-break-after: auto }
                    H3.western { font-size: 13pt; so-language: en-AU }
                    H3.cjk { font-family: "Times New Roman", serif; font-size: 13pt }
                    H3.ctl { font-family: "Times New Roman", serif; font-size: 13pt; so-language: ar-SA }
                    A:link { color: #0000ff }
            -->
</STYLE>

<P STYLE="margin-top: 0in">
    <FONT COLOR="#000000"><FONT FACE="Verdana, sans-serif"><FONT SIZE=4 STYLE="font-size: 16pt"><B>WWHOW
        Terms of Use</B></FONT></FONT></FONT></P>

<P><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">February
    2009 </FONT></FONT>
</P>

<P><BR><BR>
</P>

<DIV ID="Table of Contents1" DIR="LTR">
    <P STYLE="margin-left: 0.33in; margin-top: 0in; margin-bottom: 0in"><A HREF="#1.1.1.Use of Website|outline">i.Use
        of Website 1</A></P>

    <P STYLE="margin-left: 0.33in; margin-top: 0in; margin-bottom: 0in"><A HREF="#1.1.2.Your Conduct |outline">ii.Your
        Conduct 2</A></P>

    <P STYLE="margin-left: 0.33in; margin-top: 0in; margin-bottom: 0in"><A HREF="#1.16.1.Site Security Rules |outline">i.Site
        Security Rules 3</A></P>

    <P STYLE="margin-left: 0.33in; margin-top: 0in; margin-bottom: 0in"><A HREF="#1.16.2.User Information |outline">ii.User
        Information 3</A></P>

    <P STYLE="margin-left: 0.33in; margin-top: 0in; margin-bottom: 0in">
        <A HREF="#1.16.3.Use of Website Information|outline">iii.Use
            of Website Information 3</A></P>

    <P STYLE="margin-left: 0.33in; margin-top: 0in; margin-bottom: 0in">
        <A HREF="#1.16.4.Membership|outline">iv.Membership 5</A></P>

    <P STYLE="margin-left: 0.33in; margin-top: 0in; margin-bottom: 0in"><A HREF="#1.16.5.Customer Comments |outline">v.Customer
        Comments 5</A></P>

    <P STYLE="margin-left: 0.33in; margin-top: 0in; margin-bottom: 0in">
        <A HREF="#1.16.6.Registration and Password |outline">vi.Registration
            and Password 5</A></P>

    <P STYLE="margin-left: 0.33in; margin-top: 0in; margin-bottom: 0in">
        <A HREF="#1.16.7.Identification of Agent to Receive Notification and Elements of Notification of Claimed Copyright Infringement |outline">vii.Identification
            of Agent to Receive Notification and Elements of Notification of
            Claimed Copyright Infringement 5</A></P>

    <P STYLE="margin-left: 0.33in; margin-top: 0in; margin-bottom: 0in"><A HREF="#1.16.8.Intellectual Property|outline">viii.Intellectual
        Property 6</A></P>

    <P STYLE="margin-left: 0.33in; margin-top: 0in; margin-bottom: 0in"><A HREF="#1.16.9.Links|outline">ix.Links 6</A>
    </P>

    <P STYLE="margin-left: 0.33in; margin-top: 0in; margin-bottom: 0in"><A HREF="#1.16.10.DISCLAIMERS |outline">x.DISCLAIMERS
        6</A></P>

    <P STYLE="margin-left: 0.33in; margin-top: 0in; margin-bottom: 0in">
        <A HREF="#1.16.11.LIMITATION OF LIABILITY|outline">xi.LIMITATION
            OF LIABILITY 7</A></P>

    <P STYLE="margin-left: 0.33in; margin-top: 0in; margin-bottom: 0in">
        <A HREF="#1.16.12.DISCLAIMER OF CONSEQUENTIAL DAMAGES|outline">xii.DISCLAIMER
            OF CONSEQUENTIAL DAMAGES 7</A></P>

    <P STYLE="margin-left: 0.33in; margin-top: 0in; margin-bottom: 0in"><A HREF="#1.16.13.YOUR LIABILITY |outline">xiii.YOUR
        LIABILITY 7</A></P>

    <P STYLE="margin-left: 0.33in; margin-top: 0in; margin-bottom: 0in">
        <A HREF="#1.16.14.INDEMNITY|outline">xiv.INDEMNITY 8</A></P>

    <P STYLE="margin-left: 0.33in; margin-top: 0in; margin-bottom: 0in"><A HREF="#1.16.15.Breach of Agreement|outline">xv.Breach
        of Agreement 8</A></P>

    <P STYLE="margin-left: 0.33in; margin-top: 0in; margin-bottom: 0in">
        <A HREF="#1.16.16.Right to Remove Posting|outline">xvi.Right
            to Remove Posting 8</A></P>

    <P STYLE="margin-left: 0.33in; margin-top: 0in; margin-bottom: 0in">
        <A HREF="#1.16.17.Notice|outline">xvii.Notice 8</A></P>

    <P STYLE="margin-left: 0.33in; margin-top: 0in; margin-bottom: 0in">
        <A HREF="#1.16.18.Additional Terms and Conditions|outline">xviii.Additional
            Terms and Conditions 8</A></P>
</DIV>
<P><BR><BR>
</P>

<P><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">Use
    of this website, and information distributed in conjunction with this
    website, is offered to you on your acceptance of these Terms of Use,
    our Privacy Policy, and other notices and agreements posted on this
    Website. Your use of this Website or of any content presented in any
    and all areas of the Website indicates your acknowledgment and
    agreement to these Terms of Use, our Privacy Policy, and other
    notices and agreements posted on this Website. If you do not agree to
    be bound by and comply with all of the foregoing, you may not access
    or use our website. We suggest you print a copy of each of these
    documents for your records. </FONT></FONT>
</P>

<P><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">NAME
    OF COMPANY</FONT></FONT><FONT COLOR="#000000"><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">
    (&ldquo;</FONT></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">WWHOW</FONT></FONT><FONT COLOR="#000000"><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">&rdquo;
    or &ldquo;the Company&rdquo;) and/or this Website shall have the
    right, at its sole discretion, to modify, add or remove any terms or
    conditions of these Terms and Conditions without notice or liability
    to you. Any changes to these Terms of Use shall be effective
    immediately following the posting of such changes on this Website.
    You agree to review these Terms of Use from time to time and agree
    that any subsequent use by you of this website following changes to
    these Terms of Use shall constitute your acceptance of all such
    changes. </FONT></FONT></FONT>
</P>
<OL>
    <OL>
        <OL TYPE=i>
            <LI><H3 LANG="en-AU" CLASS="western"><A NAME="1.1.1.Use of Website|outline"></A>
                <FONT FACE="Verdana, sans-serif">Use of Website</FONT></H3>
        </OL>
    </OL>
</OL>
<P CLASS="western" STYLE="margin-top: 0in; margin-bottom: 0in; widows: 0; orphans: 0">
    <FONT COLOR="#000000"><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">YOUR
        USE OF THIS SITE IS AT YOUR SOLE RISK. THE SITE IS PROVIDED ON AN &quot;AS
        IS&quot; AND &quot;AS AVAILABLE&quot; BASIS. THE COMPANY RESERVES THE
        RIGHT TO RESTRICT OR TERMINATE YOUR ACCESS TO THE SITE OR ANY FEATURE
        OR PART THEREOF AT ANY TIME WITHOUT NOTICE IN COMPANY&rsquo;S SOLE
        DISCRETION.</FONT></FONT></FONT><FONT FACE="Verdana, sans-serif"> </FONT>
</P>

<P CLASS="western" STYLE="margin-top: 0in; margin-bottom: 0in; widows: 0; orphans: 0">
    <BR>
</P>

<P CLASS="western" STYLE="margin-top: 0in; margin-bottom: 0in; widows: 0; orphans: 0">
    <FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">You
        must be 13 years of age or older to obtain membership or to submit
        any information through this Website.</FONT></FONT></P>

<P STYLE="margin-top: 0in; margin-bottom: 0in"><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">The
    Company authorizes you to view and access a single copy of the
    content available on or
    from </FONT></FONT><FONT COLOR="#3366ff"><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt"><U>www.WWHOW.com
</U></FONT></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">(individually
    and collectively referred to the &quot;Website&quot;) solely for your
    own use. </FONT></FONT>
</P>

<P CLASS="western"><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">Users
    may post images and text hosted on WWHOW to outside websites. While
    this use is encouraged, pages on other websites that display data
    hosted on this Website must provide a link back to WWHOW.</FONT></FONT></P>

<P CLASS="western"><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">Commercial
    users are not permitted to use the services provided by this Website
    without the payment of a fee and/or without a direct agreement with
    the Company.</FONT></FONT></P>
<OL>
    <OL>
        <OL TYPE=i START=2>
            <LI><H3 LANG="en-AU" CLASS="western"><A NAME="1.1.2.Your Conduct |outline"></A>
                <STRONG><FONT COLOR="#000000"><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">Your
                    Conduct</FONT></FONT></FONT></STRONG><FONT FACE="Verdana, sans-serif">
            </FONT>
            </H3>
        </OL>
    </OL>
</OL>
<P STYLE="margin-top: 0in; margin-bottom: 0in">
    <FONT COLOR="#000000"><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">This
        Website may be used only for lawful purposes
        of </FONT></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">a
    micro-blogging social network
    (MBSN)</FONT></FONT><FONT COLOR="#000000"><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">.
    The Company specifically prohibits any use of the Website, and all
    users agree not to use the Website, for any purposes other than
    designated by the Company, including but not limited to: </FONT></FONT></FONT>
</P>
<OL>
    <OL START=2>
        <LI><P STYLE="margin-bottom: 0in"><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">The
            uploading of information, data, or files related to pornography,
            gambling, alcohol, weapons, or software or other intellectual
            property piracy.</FONT></FONT></P>
        <LI><P STYLE="margin-right: 0.5in; margin-top: 0in; margin-bottom: 0in">
            <FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">Using
                any device, software or routine to interfere or attempt to
                interfere with the proper working of this website or any activity
                being conducted on this site. </FONT></FONT>
        </P>
        <LI><P STYLE="margin-right: 0.5in; margin-top: 0in; margin-bottom: 0in">
            <FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">Taking
                any action that imposes an unreasonable or disproportionately large
                load on this website's infrastructure. </FONT></FONT>
        </P>
        <LI><P STYLE="margin-right: 0.5in; margin-top: 0in; margin-bottom: 0in">
            <FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">If
                you have a password allowing access to a non-public area of this
                Website, disclosing to or sharing your password with any third
                parties or using your password for any unauthorized purpose. </FONT></FONT>
        </P>
        <LI><P STYLE="margin-right: 0.5in; margin-top: 0in; margin-bottom: 0in">
            <FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">Using
                or attempting to use any engine, software, tool, agent or other
                device or mechanism (including without limitation browsers,
                spiders, robots, avatars or intelligent agents) to navigate or
                search this website other than the commonly recognized search
                engine and search agents, and other than generally available third
                party web browsers (e.g., Firefox, Safari, or Microsoft Explorer). </FONT></FONT>
        </P>
        <LI><P STYLE="margin-right: 0.5in; margin-top: 0in; margin-bottom: 0in">
            <FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">Attempting
                to decipher, decompile, disassemble or reverse engineer any of the
                software comprising or in any way making up a part of this website.
            </FONT></FONT>
        </P>
        <LI><P STYLE="margin-right: 0.5in; margin-top: 0in; margin-bottom: 0in">
            <FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">Aggregating,
                copying or duplicating in any manner any of the website content or
                information available from this Website. </FONT></FONT>
        </P>
        <LI><P STYLE="margin-right: 0.5in; margin-top: 0in; margin-bottom: 0in">
            <FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">Framing
                of or linking to any of the website content or information
                available from this Website. </FONT></FONT>
        </P>
        <LI><P STYLE="margin-right: 0.5in; margin-top: 0in; margin-bottom: 0in">
            <FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">Participating
                in a denial-of-service attack against this site or against any
                other web site or computer environment by using this site.</FONT></FONT></P>
        <LI><P STYLE="margin-right: 0.5in; margin-top: 0in; margin-bottom: 0in">
            <FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">Collecting
                or attempting to collect any information of others, including
                passwords and account or other information, or providing to or
                transmitting through this site any material that is unlawful or
                violates the rights of others.</FONT></FONT></P>
        <LI><P STYLE="margin-right: 0.5in; margin-top: 0in; margin-bottom: 0in">
            <FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">Engaging
                in any screen scraping or data acquisition and consolidation.</FONT></FONT></P>
        <LI><P STYLE="margin-right: 0.5in; margin-top: 0in; margin-bottom: 0in">
            <FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">Copying
                or adapting the HTML, asp.net, vd.net, XML, java script or any
                other dynamic code that the Company creates to generate any Website
                Content or the pages making up this website. </FONT></FONT>
        </P>
        <LI><P STYLE="margin-right: 0.5in; margin-top: 0in; margin-bottom: 0in">
            <FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">Infringing
                the intellectual property rights of others in any way.</FONT></FONT></P>
        <LI><P STYLE="margin-right: 0.5in; margin-top: 0in; margin-bottom: 0in">
            <FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">Making
                any unauthorized commercial use of this Website. </FONT></FONT>
        </P>
        <LI><P STYLE="margin-right: 0.5in; margin-top: 0in">
            <FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">Using
            </FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">members'
            contact details for any purpose other than for the purpose of this
            Website.</FONT></FONT></P>
    </OL>
</OL>
<P STYLE="margin-left: 0.75in; margin-right: 0.5in; margin-bottom: 0in">
    <BR>
</P>
<OL>
    <OL>
        <OL TYPE=i>
            <LI><H3 LANG="en-AU" CLASS="western"><A NAME="1.16.1.Site Security Rules |outline"></A>
                <FONT FACE="Verdana, sans-serif">Site Security Rules </FONT>
            </H3>
        </OL>
    </OL>
</OL>
<P><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">Users
    are prohibited from violating or attempting to violate the security
    of this website, including, without limitation, (a) accessing data
    not intended for such user or logging into a server or account which
    the user is not authorized to access, (b) attempting to probe, scan
    or test the vulnerability of a system or network or to breach
    security or authentication measures without proper authorization, (c)
    attempting to interfere with service to any user, host or network,
    including, without limitation, via means of submitting a virus to
    this website, overloading, &quot;flooding&quot;, &quot;spamming&quot;,
    &quot;mailbombing&quot; or &quot;crashing&quot;, or (d) forging any
    TCP/IP packet header or any part of the header information in any
    e-mail or newsgroup posting. Violations of network security may
    result in civil or criminal liability. The Company will investigate
    occurrences that may involve such violations and may involve, and
    cooperate with, law enforcement authorities in prosecuting users who
    are involved in such violations. </FONT></FONT>
</P>
<OL>
    <OL>
        <OL TYPE=i START=2>
            <LI><H3 LANG="en-AU" CLASS="western"><A NAME="1.16.2.User Information |outline"></A>
                <FONT FACE="Verdana, sans-serif">User Information </FONT>
            </H3>
        </OL>
    </OL>
</OL>
<P><FONT COLOR="#000000"><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">You
    are solely responsible for the data and information that you input or
    upload to the Website. You represent and
    warrant </FONT></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">that
    the information submitted by you through this Website is your own
    information and is complete, accurate and truthful, and you agree to
    hold the Company and its officers, directors, members, employees,
    agents, and representatives harmless from any claims arising out of
    your information submitted to this Website that is inaccurate or
    untruthful. </FONT></FONT></FONT>
</P>

<P><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">You
    grant WWHOW the non-exclusive worldwide right to publish and
    distribute the content posted by you without any compensation. You
    retain the ownership and copyright to your postings. You may not
    use, duplicate, modify, distribute, or reproduce the content posted
    by others in any manner without their express permission. WWHOW is
    not a party to granting such permission and is not involved in any
    relationship, contractual or otherwise, between users of this
    service. </FONT></FONT>
</P>

<P><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">When
    you submit information to this Website, you will be asked to provide
    WWHOW with certain information including, without limitation, a valid
    email address (your &quot;Information&quot;). In addition to the
    terms that may be set forth in any privacy policy on this Website,
    you understand and agree that WWHOW may disclose to third parties, on
    an anonymous basis, certain aggregate information contained in your
    registration application. WWHOW will not disclose to any third party
    your name, address, e-mail address or telephone number without your
    prior consent, except to the extent necessary or appropriate to
    comply with applicable laws or in legal proceedings where such
    information is relevant. WWHOW reserves the right to offer third
    party services and products to you based on the preferences that you
    identify in your registration and at any time thereafter; such offers
    may be made by the Company or by third parties. Please see the WWHOW
    's Privacy Statement for further details regarding your Information. </FONT></FONT>
</P>
<OL>
    <OL>
        <OL TYPE=i START=3>
            <LI><H3 LANG="en-AU" CLASS="western"><A NAME="1.16.3.Use of Website Information|outline"></A>
                <FONT FACE="Verdana, sans-serif">Use of Website Information</FONT></H3>
        </OL>
    </OL>
</OL>
<P CLASS="western" STYLE="margin-top: 0in; margin-bottom: 0.18in; widows: 0; orphans: 0">
    <FONT COLOR="#000000"><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">The
        information contained on this Website is for informational purposes
        only, and
        t</FONT></FONT></FONT><FONT COLOR="#333333"><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">he
    Company offers n</FONT></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">o
    express or implied guarantees or warranties regarding the benefits or
    effectiveness of any information obtained from this
    Website. </FONT></FONT><FONT COLOR="#000000"><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">The
    Company makes no </FONT></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">express
    or implied guarantees or
    warranties</FONT></FONT><FONT COLOR="#000000"><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">
    that you will find that </FONT></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">the
    information </FONT></FONT><FONT COLOR="#000000"><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">obtained
    through this Website will be satisfactory, complete, be of benefit,
    or will be suitable for your own personal
    circumstances. </FONT></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">You
    are solely responsible for deciding whether any of our information is
    suitable for your purposes.</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">
</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">Visitors
    to the Website and those who use the information provided through
    this Website do so at their own risk, and
    the</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">
    Website assumes no responsibility or liability whatsoever for any
    actions taken by users of the Website.</FONT></FONT></P>

<P CLASS="western" STYLE="margin-top: 0in; margin-bottom: 0.18in; widows: 0; orphans: 0">
    <FONT COLOR="#000000"><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">The
        Company has no liability or responsibility to users for performance
        or non-performance of any activities in which visitors to this
        Website engage through the information provided by the Company or
        engage with third parties with whom they come in contact through this
        Website. </FONT></FONT></FONT>
</P>

<P STYLE="margin-top: 0in; margin-bottom: 0in"><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">Nothing
    contained on this Website is intended to provide advice of any kind
    on behalf of the Company. </FONT></FONT>
</P>

<P ALIGN=JUSTIFY STYLE="background: #ffffff"><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">The
    Company is not responsible if information that made available on this
    Website is not accurate, reliable, complete, timely, or current, and
    the Company does not assume any responsibility
    for </FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">errors,
    inaccuracies, </FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">typographical
    errors</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">
    or omissions</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">.
</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">For
    all visitors to the Website, the content on the Website represents
    the information as of the date of
    publication. </FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">This
    site may contain certain historical information. Historical
    information is not necessarily current and is provided for your
    reference only. </FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">It
    is solely up to the user to check and confirm that details are
    recorded correctly.</FONT></FONT></P>

<P CLASS="western" STYLE="margin-top: 0in; margin-bottom: 0.18in; widows: 0; orphans: 0">
    <FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">Any
        reliance upon the information found on this site will be at your own
        risk. The Company reserves the right to modify the contents of the
        site at any time, but we have no obligation to update any information
        on this site. You agree that it is your responsibility to monitor
        changes to the site.</FONT></FONT></P>

<P ALIGN=JUSTIFY STYLE="background: #ffffff">
    <FONT COLOR="#000000"><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">The
        Website is only an information
        database. </FONT></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">WWHOW
    accepts no responsibility for any agreements or contracts entered
    into by and between users, and
    i</FONT></FONT><FONT COLOR="#000000"><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">s
    not otherwise involved in the actual transaction between users of
    this Website and/or any third party. </FONT></FONT></FONT>
</P>

<P ALIGN=JUSTIFY STYLE="background: #ffffff"><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">WWHOW
    cannot verify or validate any references, written or otherwise, and
    accepts no responsibility of any kind concerning the credentials or
    information claimed by our
    users. </FONT></FONT><FONT COLOR="#000000"><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">As
    a result, WWHOW has no control over the quality, safety or legality
    of information obtained from the users and/or from third parties, or
    the truth or accuracy of any such information. In addition, note
    that there are risks in dealing with strangers or people acting under
    false pretenses. You assume all risks associated with dealing with
    third parties with whom you come in contact through the Website
    and/or from information obtained through this Website. </FONT></FONT></FONT>
</P>

<P ALIGN=JUSTIFY>
    <FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">WWHOW</FONT></FONT><FONT COLOR="#000000"><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">
    cannot and does not confirm that each user is who they claim to be.
    Because </FONT></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">WWHOW
    does </FONT></FONT><FONT COLOR="#000000"><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">not
    and cannot be involved in user-to-user dealings or control the
    behavior of participants on this Website, in the event that you have
    a dispute with one or more users, you
    release </FONT></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">WWHOW</FONT></FONT><FONT COLOR="#000000"><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">,
    its subsidiaries, affiliates, officers, directors, employees, agents,
    and partners, from claims, demands and damages (actual and
    consequential, direct and indirect) of every kind and nature, known
    and unknown, suspected and unsuspected, disclosed and undisclosed,
    arising out of or in any way connected with such disputes. </FONT></FONT></FONT>
</P>

<P CLASS="western" STYLE="margin-top: 0in; margin-bottom: 0.17in; widows: 0; orphans: 0">
    <FONT COLOR="#000000"><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">You
        will indemnify and hold harmless the Company, its employees, agents,
        representatives, affiliates, and
        subsidiaries</FONT></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">
    from and against any claims, damages, liabilities, costs and
    expenses, including reasonable attorney&rsquo;s fees, arising out of
    your violation of these warranties and representations.</FONT></FONT></P>

<P STYLE="background: #ffffff"><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">You
    are aware and acknowledge that listing details on the WWHOW database
    is public and may be seen by anyone viewing
    the </FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">WWHOW
</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">website,
    and that these details may be indexed by search engines.</FONT></FONT></P>
<OL>
    <OL>
        <OL TYPE=i START=4>
            <LI><H3 LANG="en-AU" CLASS="western"><A NAME="1.16.4.Membership|outline"></A>
                <FONT FACE="Verdana, sans-serif">Membership</FONT></H3>
        </OL>
    </OL>
</OL>
<P ALIGN=JUSTIFY STYLE="background: #ffffff"><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">WWHOW
</FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">membership
    fee for commercial users is non-refundable once payment is processed.
</FONT></FONT>
</P>
<OL>
    <OL>
        <OL TYPE=i START=5>
            <LI><H3 LANG="en-AU" CLASS="western"><A NAME="1.16.5.Customer Comments |outline"></A>
                <FONT FACE="Verdana, sans-serif">Customer Comments </FONT>
            </H3>
        </OL>
    </OL>
</OL>
<P><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">We
    appreciate hearing from our customers and welcome your comments
    regarding our services and the website. Please be advised, however,
    that our policy does not permit us to accept or consider creative
    ideas, suggestions, inventions or materials other than those that we
    have specifically requested. While we do value your feedback on our
    services, please be specific in your comments regarding our services
    and do not submit creative ideas, inventions, suggestions, or
    materials. If, despite our request, you send us creative suggestions,
    ideas, drawings, concepts, inventions, or other information
    (collectively the &quot;Submission&quot;), the Submission shall be
    the property of WWHOW. None of the Submissions shall be subject to
    any obligation of confidence on our part and we shall not be liable
    for any use or disclosure of any Submission. WWHOW shall own
    exclusively all now known or later discovered rights to the
    submission and shall be entitled to unrestricted use of the
    Submission for any purpose whatsoever, commercial or otherwise,
    without compensation to you or any other person who submitted the
    Submission. </FONT></FONT>
</P>
<OL>
    <OL>
        <OL TYPE=i START=6>
            <LI><H3 LANG="en-AU" CLASS="western"><A NAME="1.16.6.Registration and Password |outline"></A>
                <FONT FACE="Verdana, sans-serif">Registration and Password </FONT>
            </H3>
        </OL>
    </OL>
</OL>
<P><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">You
    are responsible for maintaining the confidentiality of your
    membership information and password. You shall be responsible for all
    uses of your registration, whether or not authorized by you. You
    agree to immediately notify the Company of any unauthorized use of
    your registration or password. Your membership may not be
    transferred or assigned.</FONT></FONT></P>
<OL>
    <OL>
        <OL TYPE=i START=7>
            <LI><H3 LANG="en-AU" CLASS="western">
                <A NAME="1.16.7.Identification of Agent to Receive Notification and Elements of Notification of Claimed Copyright Infringement |outline"></A>
                <FONT FACE="Verdana, sans-serif">Identification of Agent to
                    Receive Notification and Elements of Notification of Claimed
                    Copyright Infringement </FONT>
            </H3>
        </OL>
    </OL>
</OL>
<P><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">If
    you believe that your copyrighted work has been uploaded to this
    Website and is accessible on this Website in a way that constitutes
    copyright infringement, please notify us by providing our designated
    copyright agent with the following information: </FONT></FONT>
</P>
<OL>
    <LI><P CLASS="western" STYLE="margin-bottom: 0in">
        <FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">The
            physical or electronic signature of either the copyright owner or of
            a person authorized to act on the owner's behalf; </FONT></FONT>
    </P>
    <LI><P CLASS="western" STYLE="margin-top: 0in; margin-bottom: 0in">
        <FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">A
            description of the copyrighted work you claim has been infringed,
            and a description of the activity that you claim to be infringing; </FONT></FONT>
    </P>
    <LI><P CLASS="western" STYLE="margin-top: 0in; margin-bottom: 0in">
        <FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">Identification
            of the URL or other specific location on this website where the
            material or activity you claim to be infringing is located or is
            occurring; you must include enough information to allow us to locate
            the material or the activity; </FONT></FONT>
    </P>
    <LI><P CLASS="western" STYLE="margin-top: 0in; margin-bottom: 0in">
        <FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">Your
            name, address, telephone number and, if you have one, your e-mail
            address; </FONT></FONT>
    </P>
    <LI><P CLASS="western" STYLE="margin-top: 0in; margin-bottom: 0in">
        <FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">A
            statement by you that you have a good faith belief that use on the
            website of the copyrighted work in the manner You are complaining of
            is not authorized by the copyright owner, any agent of the copyright
            owner, or the law; and </FONT></FONT>
    </P>
    <LI><P CLASS="western" STYLE="margin-top: 0in"><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">A
        statement by you, made under penalty of perjury, that the
        information you have provided in your notice is accurate and that
        you are either the copyright owner or are authorized to act on
        behalf of the copyright owner. </FONT></FONT>
    </P>
</OL>
<P CLASS="western"><FONT COLOR="#000000"><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">We
    have designated Ms. Rojinskaia as our agent to receive notices of
    claims of copyright infringement on our website. You can contact Ms.
    Rojinskaia as follows: </FONT></FONT></FONT>
</P>

<P CLASS="western">
    <FONT COLOR="#000000"><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">Mail: </FONT></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">2541
    Countryside Lane, Wexford, PA 15090</FONT></FONT></P>

<P CLASS="western">
    <FONT COLOR="#000000"><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">Telephone: </FONT></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">412.567.6807</FONT></FONT>
</P>

<P CLASS="western"><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">Email:
</FONT></FONT><A HREF="mailto:privacy@wwhow.com"><FONT COLOR="#0000ff"><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt"><U>copyright@WWHOW.com</U></FONT></FONT></FONT></A>
</P>
<OL>
    <OL>
        <OL TYPE=i START=8>
            <LI><H3 LANG="en-AU" CLASS="western"><A NAME="1.16.8.Intellectual Property|outline"></A>
                <FONT FACE="Verdana, sans-serif">Intellectual Property</FONT></H3>
        </OL>
    </OL>
</OL>
<P>&ldquo;<FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">WWHOW
    &rdquo;, and any other Company trademarks and trade names, and any
    variations thereof, are and shall remain the trademarks and trade
    names and exclusive property of the Company, and any unauthorized use
    of such trademarks and trade names is unlawful. Other trademarks on
    this Website are the property of their respective owners, and may not
    be used by you in any form. </FONT></FONT>
</P>

<P><FONT COLOR="#000000"><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">This
    site
    (</FONT></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">including
    without limitation all programs, complied binaries, interface layout,
    interface text, documentation and
    graphics</FONT></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">)
    is the property of WWHOW and is protected by copyright, trademark,
    and other laws of the United States and other
    countries. </FONT></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">The
    Company reserves any rights not expressly granted to you.</FONT></FONT></FONT></P>

<P><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">You
    may not sell or modify the Website content or reproduce, display,
    publicly perform, distribute, or otherwise use the website content in
    any way for any public or commercial purpose. The use of the website
    content on any other website or in a networked computer environment
    for any purpose is prohibited. </FONT></FONT>
</P>

<P CLASS="western"><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">Your
    profile and materials uploaded remain your property. You can remove
    your profile at any time by deleting your account. This will also
    remove any text and images you have stored in the system. We
    encourage users to contribute their creations to the public domain or
    consider progressive licensing terms.</FONT></FONT></P>
<OL>
    <OL>
        <OL TYPE=i START=9>
            <LI><H3 LANG="en-AU" CLASS="western"><A NAME="1.16.9.Links|outline"></A>
                <FONT FACE="Verdana, sans-serif">Links</FONT></H3>
        </OL>
    </OL>
</OL>
<P><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">This
    Website may contain links to other sites and banner ads that take a
    visitor to another website. Please be aware that the Company is not
    responsible for the content or terms of use of such other sites, and
    has no responsibility or liability for Users visit to linked
    websites. Users are encouraged to be aware of the specific content,
    terms of use, and requirements of the other websites when they leave
    this Website.</FONT></FONT></P>
<OL>
    <OL>
        <OL TYPE=i START=10>
            <LI><H3 LANG="en-AU" CLASS="western"><A NAME="1.16.10.DISCLAIMERS |outline"></A>
                <FONT FACE="Verdana, sans-serif">DISCLAIMERS </FONT>
            </H3>
        </OL>
    </OL>
</OL>
<P><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">WWHOW
    DOES NOT WARRANT THAT THIS WEBSITE WILL OPERATE ERROR-FREE OR THAT
    THIS WEBSITE AND ITS SERVER ARE FREE OF COMPUTER VIRUSES OR OTHER
    HARMFUL MECHANISMS. IF YOUR USE OF THIS WEBSITE RESULTS IN THE NEED
    FOR SERVICING OR REPLACING EQUIPMENT OR DATA, THE COMPANY IS NOT
    RESPONSIBLE FOR THOSE COSTS. THE WEBSITE IS PROVIDED ON AN &quot;AS
    IS&quot; BASIS WITHOUT ANY WARRANTIES OF ANY KIND. WWHOW, TO THE
    FULLEST EXTENT PERMITTED BY LAW, DISCLAIMS ALL WARRANTIES, WHETHER
    EXPRESS OR IMPLIED, INCLUDING THE WARRANTY OF MERCHANTABILITY,
    FITNESS FOR PARTICULAR PURPOSE AND NON-INFRINGEMENT. THE COMPANY
    MAKES NO WARRANTIES ABOUT THE ACCURACY, RELIABILITY, COMPLETENESS, OR
    TIMELINESS OF THE WEBSITE CONTENT, SERVICES, SOFTWARE, TEXT,
    GRAPHICS, AND LINKS.</FONT></FONT></P>

<P><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">THE
    TRANSMISSION OF DATA OR INFORMATION (INCLUDING COMMUNICATIONS BY
    E-MAIL) OVER THE INTERNET OR OTHER PUBLICLY ACCESSIBLE NETWORKS IS
    NOT SECURE, AND IS SUBJECT TO POSSIBLE LOSS, INTERCEPTION OR
    ALTERATION WHILE IN TRANSIT. ACCORDINGLY, THE COMPANY DOES NOT ASSUME
    ANY LIABILITY FOR ANY DAMAGE YOU MAY EXPERIENCE OR COSTS YOU MAY
    INCUR AS A RESULT OF ANY TRANSMISSIONS OVER THE INTERNET OR OTHER
    PUBLICLY ACCESSIBLE NETWORKS, SUCH AS TRANSMISSIONS INVOLVING THE
    EXCHANGE OF E-MAIL WITH US (INCLUDING THOSE WHICH MAY CONTAIN YOUR
    PERSONAL INFORMATION). WHILE WE SHALL TAKE COMMERCIALLY REASONABLE
    EFFORTS TO SAFEGUARD THE PRIVACY OF THE INFORMATION YOU PROVIDE US
    AND TREAT SUCH INFORMATION IN ACCORDANCE WITH OUR PRIVACY POLICY, IN
    NO EVENT WILL THE INFORMATION YOU PROVIDE TO US BE DEEMED TO BE
    CONFIDENTIAL, CREATE ANY FIDUCIARY OBLIGATIONS TO YOU ON OUR PART, OR
    RESULT IN ANY LIABILITY TO YOU ON OUR PART IN THE EVENT THAT SUCH
    INFORMATION IS INADVERTENTLY RELEASED BY US OR ACCESSED BY THIRD
    PARTIES WITHOUT OUR CONSENT.</FONT></FONT></P>

<P><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">WWHOW
    TAKES NO RESPONSIBILITY WHATSOEVER FOR THE CONTENTS OF THE
    INFORMATION YOU HAVE UPLOADED TO THE WEBSITE, AND SHALL NOT BE
    RESPONSIBLE OR LIABLE FOR THE DELETION, CORRECTION, DESTRUCTION,
    DAMAGE, OR LOSS OF FILES AND DATA, OR FAILURE TO STORE ANY FILES OR
    DATA.</FONT></FONT><STRONG><FONT COLOR="#000000"><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">
</FONT></FONT></FONT></STRONG><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">NOR
    IS THE COMPANY RESPONSIBLE FOR LOSS OF FILES OR DATA THOURGH THE
    ACTION OF ANY THIRD PARTY OR BECAUSE OF CIRCUMSTANCES BEYOND THE
    COMPAN&rsquo;S CONTROL. ALL CUSTOMERS ARE EXPECTED TO HAVE THEIR OWN
    BACKUP OF ALL OF THE FILES AND DATA TRANSFERRED TO THE SITE.</FONT></FONT></P>
<OL>
    <OL>
        <OL TYPE=i START=11>
            <LI><H3 LANG="en-AU" CLASS="western"><A NAME="1.16.11.LIMITATION OF LIABILITY|outline"></A>
                <STRONG><FONT COLOR="#000000"><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">LIMITATION
                    OF LIABILITY</FONT></FONT></FONT></STRONG></H3>
        </OL>
    </OL>
</OL>
<P><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">TO
    THE FULLEST EXTENT PERMISSIBLE UNDER APPLICABLE LAW, YOU UNDERSTAND
    AND AGREE THAT NEITHER WWHOW OR ANY OF ITS SUBSIDIARIES OR THIRD
    PARTY CONTENT PROVIDERS SHALL BE LIABLE FOR ANY DIRECT, INDIRECT,
    INCIDENTAL, SPECIAL, CONSEQUENTIAL, PUNITIVE, EXEMPLARY OR ANY OTHER
    DAMAGES RELATING TO OR RESULTING FROM YOUR USE OR INABILITY TO USE
    THIS SITE OR ANY OTHER SITE YOU ACCESS THROUGH A LINK FROM THIS SITE
    OR FROM ANY ACTIONS WE TAKE OR FAIL TO TAKE AS A RESULT OF ELECTRONIC
    MAIL MESSAGES YOU SEND US. THESE INCLUDE DAMAGES FOR ERRORS,
    OMISSIONS, INTERRUPTIONS, DEFECTS, DELAYS, COMPUTER VIRUSES, YOUR
    LOSS OF PROFITS, LOSS OF DATA, UNAUTHORIZED ACCESS TO AND ALTERATION
    OF YOUR TRANSMISSIONS AND DATA, AND OTHER TANGIBLE AND INTANGIBLE
    LOSSES. </FONT></FONT>
</P>

<P><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">THIS
    LIMITATION APPLIES REGARDLESS OF WHETHER THE DAMAGES ARE CLAIMED
    UNDER THE TERMS OF A CONTRACT, AS THE RESULT OF NEGLIGENCE OR
    OTHERWISE, AND EVEN IF WE OR OUR REPRESENTATIVES HAVE BEEN NEGLIGENT
    OR HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. </FONT></FONT>
</P>

<P><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">WWHOW
    'S MAXIMUM LIABILITY ARISING OUT OF OR IN CONNECTION WITH THIS
    WEBSITE OR YOUR USE OF THE WEBSITE, REGARDLESS OF THE CAUSE OF ACTION
    (WHETHER IN CONTRACT, TORT, BREACH OF WARRANTY OR OTHERWISE), WILL
    NOT EXCEED $100. </FONT></FONT>
</P>
<OL>
    <OL>
        <OL TYPE=i START=12>
            <LI><H3 LANG="en-AU" CLASS="western"><A NAME="1.16.12.DISCLAIMER OF CONSEQUENTIAL DAMAGES|outline"></A>
                <FONT FACE="Verdana, sans-serif">DISCLAIMER OF CONSEQUENTIAL
                    DAMAGES</FONT></H3>
        </OL>
    </OL>
</OL>
<P><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">IN
    NO EVENT SHALL WWHOW, ITS DIRECTORS, OFFICERS, MEMBERS, EMPLOYEES,
    AGENTS, REPRESENTATIVES, SUPPLIERS, OR ANY THIRD PARTIES MENTIONED ON
    THIS WEBSITE BE LIABLE FOR ANY DAMAGES WHATSOEVER (INCLUDING, WITHOUT
    LIMITATION, INCIDENTAL AND CONSEQUENTIAL DAMAGES, LOST PROFITS, OR
    DAMAGES RESULTING FROM LOST DATA OR BUSINESS INTERRUPTION) RESULTING
    FROM THE USE OR INABILITY TO USE THIS WEBSITE AND THE WEBSITE
    CONTENT, WHETHER BASED ON WARRANTY, CONTRACT, TORT, OR ANY OTHER
    LEGAL THEORY, AND WHETHER OR NOT THE COMPANY IS ADVISED OF THE
    POSSIBILITY OF SUCH DAMAGES. </FONT></FONT>
</P>
<OL>
    <OL>
        <OL TYPE=i START=13>
            <LI><H3 LANG="en-AU" CLASS="western"><A NAME="1.16.13.YOUR LIABILITY |outline"></A>
                <STRONG><FONT COLOR="#000000"><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">YOUR
                    LIABILITY</FONT></FONT></FONT></STRONG><FONT FACE="Verdana, sans-serif">
            </FONT>
            </H3>
        </OL>
    </OL>
</OL>
<P><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">IF
    YOU CAUSE A TECHNICAL DISRUPTION OF THE SITE OR THE SYSTEMS
    TRANSMITTING THE SITE TO YOU OR OTHERS YOU AGREE TO BE RESPONSIBLE
    FOR ANY AND ALL LIABILITIES, COSTS AND EXPENSES (INCLUDING ATTORNEY'S
    FEES) ARISING FROM THAT DISRUPTION. </FONT></FONT>
</P>
<OL>
    <OL>
        <OL TYPE=i START=14>
            <LI><H3 LANG="en-AU" CLASS="western"><A NAME="1.16.14.INDEMNITY|outline"></A>
                <FONT FACE="Verdana, sans-serif">INDEMNITY</FONT></H3>
        </OL>
    </OL>
</OL>
<P><FONT COLOR="#000000"><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">YOU
    AGREE TO DEFEND, INDEMNIFY, AND HOLD HARMLESS WWHOW , ITS
    SUBSIDIARIES, AFFILIATES, OFFICERS, DIRECTORS, EMPLOYEES, AGENTS, AND
    PARTNERS, HARMLESS FROM AND AGAINST ANY LOSS, LIABILITY, CLAIM,
    ACTION, OR DEMAND, INCLUDING WITHOUT LIMITATION REASONABLE LEGAL AND
    ACCOUNTING FEES, ALLEGING OR RESULTING FROM (I) YOUR USE OF THE WWHOW
    &rsquo; WEBSITE; (II) ANY MATERIAL YOU PROVIDE TO THE WWHOW &rsquo;
    WEBSITE, (III) ANY WEBSITE CONTENT THAT YOU USE OR (III) YOUR BREACH
    OF THE TERMS OF THESE TERMS AND CONDITIONS, PRIVACY STATEMENT,
    REPRESENTATIONS AND WARRANTIES. WWHOW SHALL PROVIDE NOTICE TO YOU
    PROMPTLY OF ANY SUCH CLAIM, SUIT, OR PROCEEDING AND SHALL ASSIST YOU,
    AT YOUR EXPENSE, IN DEFENDING ANY SUCH CLAIM, SUIT OR
    PROCEEDING. </FONT></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">WE
    RESERVE THE RIGHT TO ASSUME THE EXCLUSIVE DEFENSE AND CONTROL OF ANY
    MATTER SUBJECT TO INDEMNIFICATION BY YOU, WHICH SHALL NOT EXCUSE YOUR
    INDEMNITY
    OBLIGATIONS.</FONT></FONT></FONT><FONT COLOR="#000000"><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">
</FONT></FONT></FONT>
</P>
<OL>
    <OL>
        <OL TYPE=i START=15>
            <LI><H3 LANG="en-AU" CLASS="western"><A NAME="1.16.15.Breach of Agreement|outline"></A>
                <FONT FACE="Verdana, sans-serif">Breach of Agreement</FONT></H3>
        </OL>
    </OL>
</OL>
<P><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">WWHOW
    reserves the right, at its sole discretion, to pursue all of its
    legal remedies, including but not limited to immediate termination
    without notice of your use of this Website and/or any other service
    provided to you by the Company, upon any breach by you of these Terms
    of Use or Privacy Statement, or if the Company is unable to verify or
    authenticate any information you submit to the Website. </FONT></FONT>
</P>

<P CLASS="western" STYLE="margin-top: 0in; margin-bottom: 0.17in; widows: 0; orphans: 0">
    <BR><BR>
</P>
<OL>
    <OL>
        <OL TYPE=i START=16>
            <LI><H3 LANG="en-AU" CLASS="western"><A NAME="1.16.16.Right to Remove Posting|outline"></A>
                <FONT FACE="Verdana, sans-serif">Right to Remove Posting</FONT></H3>
        </OL>
    </OL>
</OL>
<P ALIGN=JUSTIFY STYLE="background: #ffffff">
    <FONT COLOR="#000000"><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">WWHOW
    </FONT></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">reserves
    the right to remove any posting at any time, with or without warning
    or notice should information or action from any user be deemed by
</FONT></FONT><FONT COLOR="#000000"><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">WWHOW
</FONT></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">to
    be misleading, inappropriate or dishonest,
    if </FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">a
    member has </FONT></FONT><FONT COLOR="#000000"><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">breached
    the Terms of Use or Privacy Statement, or if the Company is unable to
    verify or authenticate any information submitted to the
    Website.</FONT></FONT></FONT><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">
</FONT></FONT>
</P>
<OL>
    <OL>
        <OL TYPE=i START=17>
            <LI><H3 LANG="en-AU" CLASS="western"><A NAME="1.16.17.Notice|outline"></A>
                <FONT FACE="Verdana, sans-serif">Notice</FONT></H3>
        </OL>
    </OL>
</OL>
<P><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">For
    purposes of this Agreement, WWHOW may give You notice by e-mail, to
    e-mail address on record, which notice shall be deemed effective when
    sent.</FONT></FONT></P>
<OL>
    <OL>
        <OL TYPE=i START=18>
            <LI><H3 LANG="en-AU" CLASS="western"><A NAME="1.16.18.Additional Terms and Conditions|outline"></A>
                <FONT FACE="Verdana, sans-serif">Additional Terms and Conditions</FONT></H3>
        </OL>
    </OL>
</OL>
<P><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">WWHOW
    makes no claims that the website content may be lawfully viewed or
    accessed in any specific jurisdiction. Access to the website content
    may not be legal by certain persons or in certain countries. If you
    access the website you are responsible for compliance with the laws
    of your jurisdiction. </FONT></FONT>
</P>

<P><FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">These
    Terms of Use, the website&rsquo;s Privacy Statements, and other
    relevant documents and agreements constitute the entire agreement
    between you and WWHOW with respect to the use of website. No changes
    to these Terms of Use shall be made except by a revised posting on
    this page. </FONT></FONT>
</P>

<P CLASS="western" STYLE="margin-top: 0in; margin-bottom: 0in">
    <FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">Without
        limiting any of the other disclaimers of warranty set forth in these
        Terms of Use, WWHOW does not provide or make any undertaking as to
        the quality or nature of the information obtained on the Website or
        of any of the products or services purchased through WWHOW Website,
        or any other representation, warranty or guaranty. </FONT></FONT>
</P>

<P CLASS="western" STYLE="margin-top: 0in; margin-bottom: 0in"><BR>
</P>

<P CLASS="western" STYLE="margin-top: 0in; margin-bottom: 0in">
    <FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">This
        Agreement will be governed by, and construed in accordance with, the
        laws of the state of California without regard to or application of
        its choice of law rules or principles. Except as set forth below, all
        disputes and claims relating to this Agreement or WWHOW&rsquo;s
        products and services, shall be settled fully and finally by
        arbitration before the American Arbitration Association, in
        accordance with Commercial Arbitration Rules. The decision of the
        arbitrator shall be final and binding on the parties and may be
        reduced to a judgment in any court of competent jurisdiction. Any
        claim or cause of action You may have against WWHOW arising out of
        this Agreement or WWHOW's products or services must be commenced
        within one (1) year after your claim or cause of action arises. This
        agreement to arbitrate shall survive any termination or expiration of
        this Agreement. Notwithstanding the foregoing, neither party shall be
        required to arbitrate any claim for infringement of its copyrights,
        patents, trademarks, trade secrets, or other intellectual property
        rights of any kind. You should be aware that some jurisdictions do
        not allow for the exclusion of certain warranties or the limitation
        of certain types of damages which are contained in this Agreement. By
        accepting these Terms of Service you may be waiving legal rights
        which could be available to you in another jurisdiction.</FONT></FONT></P>

<P CLASS="western" STYLE="margin-top: 0in; margin-bottom: 0in"><BR>
</P>

<P CLASS="western" STYLE="margin-top: 0in; margin-bottom: 0in">
    <FONT FACE="Verdana, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">If
        any provision of these Terms of Use is held invalid or unenforceable
        in any respect by any court having competent jurisdiction, such
        provision shall be enforced to the maximum extent permitted by law,
        and the remaining provisions of these Terms and Conditions shall
        continue in full force and effect. No waiver of any provision of
        these Terms and Conditions shall be deemed a further or continuing
        waiver of such provision or any other provision of these Terms of
        Use.</FONT></FONT></P>

<P CLASS="western" STYLE="margin-top: 0in; margin-bottom: 0in"><BR>
</P>

<P CLASS="western" STYLE="margin-top: 0in; margin-bottom: 0in"><BR>
</P>

<P CLASS="western" STYLE="margin-top: 0in; margin-bottom: 0in"><BR>
</P>


<em style="position: absolute; z-index: 10; width: 225px; right: -175px; height: 268px; top: 0px;" id="tipsy-headset"></em>
</div>



