<% if @tag_counts then %>
    <div id="leftbar">

      <%= if logged_in? && @user
          render :partial =>  'users/control_panel'
      end %>

      <%= render :partial =>  'listings/tags' %>

      <br/>

        <% if @messages.size>1 && RAILS_ENV == "production" then %>
            <%= render :partial => 'shared/ads'  %>
        <% end %>

    </div>

<% end %>