<div id="rightbar">

  <%= render :partial => 'layouts/active_members' %>
  <br/>

  <% if @messages.size>1 &&  RAILS_ENV == "production" then %>
      <%= render :partial => 'shared/ads' %>
  <% end %>
</div>
